[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Actions=ConvertToMKV;
Icon=/opt/resolve/graphics/DV_Panels.png
X-KDE-StartupNotify=false

[Desktop Action ConvertToMKV]
Name=Convert for Resolve
Exec=~/Scripts/ResolveConvert.sh %F
Icon=/opt/resolve/graphics/DV_Panels.png
